@font-face{
	font-family:"RAGE";
	src:url("RAGE.TTF");
}


*{
	outline:0px none;
}
body {
	margin:0px;
	padding:0px;
	font-family:Helvetica, Tahoma, Verdana;
}
#bgWrapper{
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
}
#header{
	width:100%;
	height:180px;
	position:absolute;
	top:0px;
	z-index:3;
	min-width:800px;
	background: #7d7e7d; /* old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* ie */
}
#logo{
	width:600px;
}
.logotitle{
	color:#ffffff;
	font-size:80px;
	text-transform:capitalize;
	font-style:italic;
	font-weight:bolder;
	letter-spacing:-10px;
}
.logosubtitle{
	color:#ffffff;
	font-style:italic;
	position:absolute;
	margin-top:-20px;
	margin-left:15px;
	font-size:22px;
	letter-spacing:12px;
	text-transform:none;
	font-weight:bolder;
}
.phrase{
	width:600px;
	position:absolute;
	top:90px;
	left:20px;
	color:#E6820E;
	font-family:"RAGE";	
	font-style:italic;
	margin-left:40px;
	font-size:28px;
	letter-spacing:0px;
	text-transform:none;
	font-weight:normal;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-o-border-transform:rotate(-5deg);
	transform:rotate(-5deg);
}
/**
 * menu
 */
.downloadLink{
	background-color:#E6820E!important;
}
#menu{
	position:absolute;
	top:180px;
	width:100%;
	min-width:800px;
	text-align:center;
  background: #ffffff; /* old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* ie */
}
#menu a{
	float:left;
	background-color:#E2E2E2;
	margin-right:10px;
	padding:5px;
	margin:4px 2px 4px 2px;
	border:1px solid #808080;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	font-size:15px;
	font-weight:lighter;
	text-decoration:none;
	color:#808080;
}
#menu a,
#menu a:link,
#menu a:visited,
#menu a:active{
	text-decoration:none;
	color:#808080;
}
#menu a:hover{
	color:#ffffff;
	background-color:#808080;
}
.currentItem{
	color:#ffffff!important;
	background-color:#808080!important;
}
/**
 * content wrapper
 */
#contentShadowWrapper{
	position:absolute;
	text-align:center;
	width:100%;
	top:240px;	
	z-index:1;
}
#contentShadow{
	background-color:#000000;
	filter:alpha(opacity = 70);
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); 
	opacity:0.70;
	width:800px;
	margin:0px auto;
}
#contentWrapper{
	position:absolute;
	text-align:center;
	width:100%;
	top:240px;
	z-index:2;
}
#content{
	text-align:left;
	width:780px;
	margin:20px auto;
}
/**
 * content styling
 */
.title{
	text-decoration:none;
	color:#ffffff;
	font-size:16px;
	font-weight:bolder;	
	padding:12px;
	margin:10px;
	background-color:black;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
}
.text{
	color:#E6820E;
	text-align:left;
	padding-left:20px;
	font-size:15px;
	font-weight:normal;
}
.code{
	text-align:left;
	margin:10px 0px 10px 40px;
	font-family:Courier;
	font-size:14px;
	width:700px;
}
#content a,
#content a:visited,
#content a:active{
	color:#ffffff;
	text-align:left;
	text-decoration:underline;
	font-size:15px;
	font-weight:normal;
}
#content a:hover{
	color:#aaaaaa;
}
/**
 * footer
 */
#footerWrapper{
	position:absolute;
	text-align:center;
	width:100%;
	top:240px;	
}
#footer{
	margin:0px auto;
	width:800px;
	height:300px;
}
#footerContent{
	background-color:#000000;
	height:200px;
	text-align:center;
	color:#ffffff;
}
#footerContent div{
	padding-top:20px;	
}
#footerContent a,
#footerContent a:visited,
#footerContent a:active{
	color:#E6820E;
}
#footerContent a:hover{
	color:#aaaaaa;
}
