@font-face {
    font-family: 'RAGE';
    src: url('rage-webfont.eot');
    src: url('rage-webfont.eot?#iefix') format('embedded-opentype'),
         url('rage-webfont.woff') format('woff'),
         url('rage-webfont.ttf') format('truetype'),
         url('rage-webfont.svg#RageItalicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	outline:0px none;
}
body {
	margin:0px;
	padding:0px;
	font-family:Calibri, arial;
  background:url("bg-pattern.jpg") repeat;
}
#header{
	width:100%;
	height:180px;
	min-width:800px;
	background:url("header-bg.png") repeat;
}
#title,
#subtitle{
	color:#FFF;
  font-family:Arial;
  display:block;
  text-shadow:#000 2px 2px 4px;
	font-weight:bolder;
	font-style:italic;
}
#title{
	font-size:80px;
	text-transform:capitalize;
	letter-spacing:-8px;
}
#subtitle{
	font-size:26px;
	letter-spacing:12px;
  margin:-22px 10px;
  
}
#phrase{
	position:absolute;
	top:90px;
	left:20px;
	color:#E6820E;
	font-family:"RAGE";
	margin-left:40px;
	font-size:40px;
	-webkit-transform:rotate(-5deg);
	-moz-transform:rotate(-5deg);
	-o-border-transform:rotate(-5deg);
	transform:rotate(-5deg);
  text-shadow:#000 2px 2px 4px;
}


/**
 * menu
 */
#menu{
	position:absolute;
	top:180px;
  left:0px;
	right:0px;
	min-width:800px;
	text-align:center;
  -moz-box-shadow:0px 2px 4px #000;
  -webkit-box-shadow:0px 2px 4px #000;
  box-shadow:0px 2px 4px #000;
  background:url("menu-bg.jpg") repeat-x;
  border-top:1px solid #000;
}
#menu a,
#menu a:visited,
#menu a:active{
	float:left;
	padding:5px;
	margin:4px 2px;
	background-color:#fff;
  border:1px solid #777;
	font-size:14px;
	text-decoration:none;
  text-shadow:#fff 1px 1px 2px;
	color:#222;
  -moz-box-shadow:inset 0px 0px 1px #444;-webkit-box-shadow:inset 0px 0px 1px #444;box-shadow:inset 0px 0px 1px #444;
	-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;
}
#menu a.active,
#menu a:hover{
  background-color:#dfdfdf;
}

/**
 * content wrapper
 */
#content-shadow-wrapper{
	position:absolute;
	text-align:center;
	width:100%;
	top:240px;	
	z-index:1;
}
#content-shadow{
	background-color:#000;
  opacity:.75;
	filter:alpha(opacity=75);
	-ms-filter:"alpha(opacity=75)";
	-khtml-opacity:.75;
	-moz-opacity:.75;
	width:800px;
	margin:0px auto;
}
#content-wrapper{
	position:absolute;
	text-align:center;
	width:100%;
	top:240px;
	z-index:2;
}
#content{
	text-align:left;
	width:800px;
	margin:0px auto;
}




/**
 * content styling
 */
span.title{
	color:#fff;
	font-size:16px;
	font-weight:bolder;	
	padding:10px;
	margin:10px;
	background-color:#000;
  float:left;
  clear:both;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}
span.text{
  clear:both;
	color:#E6820E;
	text-align:left;
	margin:5px 15px;
  display:block;
	font-size:14px;
}
textarea.code{
  clear:both;
  display:block;
	text-align:left;
	margin:5px 20px;
	font-family:Courier;
	font-size:14px;
	width:700px;
  border:1px solid #000;
}
#content a,
#content a:visited,
#content a:active{
	color:#ffffff;
	text-align:left;
	text-decoration:underline;
	font-size:15px;
	font-weight:normal;
}
#content a:hover{
	color:#aaaaaa;
}
/**
 * footer
 */
#footer-wrapper{
	position:absolute;
	text-align:center;
	width:100%;
	top:240px;	
}
#footer{
	margin:0px auto;
	width:800px;
  background-color:#000;
}
#footer span{
	color:#E6820E;
  display:block;
  padding:20px;
  font-size:20px;
}
